<div class="book-tocbot">
</div>
<div class="book-tocbot-menu">
  <a class="book-toc-expand" onclick="expand_toc()">全部展开</a>
  <a onclick="go_top()">回到顶部</a>
  <a onclick="go_bottom()">前往底部</a>
</div>

<%- js('js/book-toc') %>