.container {
  height: 100%; }

.columns {
  height: 100%; }

html, body {
  height: 100%;
  margin: 0; }

a {
  color: #004ed0; }

a:hover {
  color: #6d6d6d;
  text-decoration: none; }

img {
  max-width: 100%;
  max-height: 100%; }

.book-nav .site-meta {
  margin: 0.5rem 0 0.875rem 0; }
  .book-nav .site-meta a {
    color: #2f2f2f; }
  .book-nav .site-meta a:hover {
    color: #2f2f2f; }

.book-nav ul {
  list-style: none; }

.book-nav .book-nav-blog, .book-nav .book-nav-book {
  margin: 0; }

.book-nav .book-nav-book ul {
  margin: 0.5rem; }

.book-nav a {
  color: #2f2f2f; }

.book-nav a:hover {
  color: gray; }

.book-nav .book-nav-current {
  color: #004ed0; }

.list-group {
  margin-top: 0.5rem; }
  .list-group .list-group-content {
    width: 150px; }
    .list-group .list-group-content h6 {
      font-weight: bold;
      padding-top: 0.625rem;
      padding-bottom: 0.375rem;
      margin: 0; }
    .list-group .list-group-content div {
      padding-bottom: 0.25rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }

.list-group-title {
  background-color: white;
  border: 2px solid #2f2f2f;
  border-radius: 50%;
  content: "";
  display: block;
  height: .4rem;
  left: -1.05rem;
  position: absolute;
  top: .9rem;
  width: .4rem; }

.list-group-item {
  position: relative; }
  .list-group-item ::before {
    background: #ddd;
    content: "";
    height: 100%;
    left: -18px;
    position: absolute;
    top: 1.3rem;
    width: 1.2px; }

.book-container {
  height: 100%;
  padding: 1rem 100px;
  font-family: 'Noto Sans TC', sans-serif; }

.book-content a {
  color: #004ed0; }

.book-content a:hover {
  color: #6d6d6d; }

.book-content {
  margin-top: 0.5rem; }

.home-post-title h3 {
  font-size: 1rem;
  color: #004ed0; }

.home-post-excerpt {
  font-size: 14px;
  color: #858585; }

.home-post {
  max-width: 40rem;
  margin-bottom: 2rem; }
  .home-post a {
    color: #2f2f2f; }
  .home-post a:hover {
    color: #004ed0; }

.home-post-meta {
  font-size: 0.7rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.625rem;
  margin: 0.75rem 0; }

.archive-list-item {
  list-style: none;
  margin: 0; }
  .archive-list-item a {
    color: #004ed0;
    margin-left: 0.5rem; }

.category-list-item a {
  color: #004ed0; }

.category-list-item ol, .category-list-item ul {
  margin-top: 0; }

.tag-list-item a {
  color: #004ed0; }

.book-post {
  max-width: 95%; }
  .book-post .book-post-title {
    font-size: 2rem; }
  .book-post .book-post-metadata {
    padding: 0.75rem 0 1rem 0;
    font-size: 14px;
    font-weight: bold; }
  .book-post a:hover {
    text-decoration: underline; }
  .book-post h1, .book-post h2, .book-post h3, .book-post h4, .book-post h5, .book-post h6 {
    font-weight: bold;
    padding-bottom: 0.625rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ddd; }
  .book-post h2, .book-post h3, .book-post h4, .book-post h5, .book-post h6 {
    margin-top: 1.25rem; }
  .book-post h1 {
    font-size: 1.5rem; }
  .book-post h2 {
    font-size: 1.375rem; }
  .book-post h3 {
    font-size: 1.25rem; }
  .book-post h4 {
    font-size: 1.125rem; }
  .book-post h5 {
    font-size: 1rem; }
  .book-post h6 {
    font-size: 0.875rem; }
  .book-post p {
    font-size: 16px;
    margin-bottom: 0.625rem; }
  .book-post hr {
    border: 0.5px solid #ddd;
    background-color: #ddd;
    margin: 1rem 0; }
  .book-post dl, .book-post ol, .book-post ul {
    list-style: disc;
    margin: 0 0 0 1rem; }
  .book-post table {
    width: 100%;
    max-width: 100%;
    margin: 1.5rem 0; }
    .book-post table th, .book-post table td {
      padding: 0.75rem;
      border-top: 1px solid #ddd;
      text-align: left; }
  .book-post li {
    margin-top: .4rem;
    margin-bottom: .4rem; }
  .book-post blockquote p:last-child {
    margin-top: 0;
    margin-bottom: 0; }
  .book-post .video-container {
    position: relative;
    margin-bottom: 1.5rem;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden; }
    .book-post .video-container iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }
  .book-post figure.highlight {
    margin: 24px 0;
    padding: 0;
    border-radius: 4px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: auto; }
    .book-post figure.highlight pre {
      font-size: 13px;
      line-height: 22px; }
    .book-post figure.highlight .gutter {
      padding: 10px 6px 10px 14px; }
      .book-post figure.highlight .gutter pre {
        margin: 0;
        text-align: right;
        color: #b8b8b8;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; }
    .book-post figure.highlight .code {
      padding: 10px; }
      .book-post figure.highlight .code pre {
        margin: 0;
        padding-left: 0; }
    .book-post figure.highlight table {
      margin: 0; }
      .book-post figure.highlight table tbody {
        display: block;
        margin: 0; }
        .book-post figure.highlight table tbody tr td {
          border: none; }
    .book-post figure.highlight figcaption {
      background-color: #21252b;
      padding: 9px;
      font-size: 15px;
      color: white;
      user-select: none;
      text-align: center; }
      .book-post figure.highlight figcaption ::after {
        content: " ";
        position: absolute;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: #fc625d;
        width: 11px;
        height: 11px;
        top: 14px;
        left: 16px;
        -webkit-box-shadow: 24px 0px #fdbc40, 40px 0px #35cd4b;
        box-shadow: 20px 0px #fdbc40, 40px 0px #35cd4b;
        z-index: 3; }
    .book-post figure.highlight .marked {
      background-color: #fffce8; }
    .book-post figure.highlight pre .deletion {
      background: #fdd; }
    .book-post figure.highlight pre .addition {
      background: #dfd; }
    .book-post figure.highlight pre .meta {
      color: #6faadb; }
    .book-post figure.highlight pre .comment {
      color: #5c6370;
      font-style: italic; }
    .book-post figure.highlight pre .tag {
      color: #39adb5; }
    .book-post figure.highlight pre .number,
    .book-post figure.highlight pre .preprocessor,
    .book-post figure.highlight pre .literal,
    .book-post figure.highlight pre .params,
    .book-post figure.highlight pre .constant,
    .book-post figure.highlight pre .command {
      color: #d47171; }
    .book-post figure.highlight pre .built_in {
      color: #e2b35c; }
    .book-post figure.highlight pre .variable,
    .book-post figure.highlight pre .attribute,
    .book-post figure.highlight pre .regexp,
    .book-post figure.highlight pre .ruby .constant,
    .book-post figure.highlight pre .xml .tag .title,
    .book-post figure.highlight pre .xml .pi,
    .book-post figure.highlight pre .xml .doctype,
    .book-post figure.highlight pre .html .doctype,
    .book-post figure.highlight pre .css .id,
    .book-post figure.highlight pre .tag .name,
    .book-post figure.highlight pre .css .class,
    .book-post figure.highlight pre .css .pseudo,
    .book-post figure.highlight pre .ruby .class .title,
    .book-post figure.highlight pre .css .rules .attribute,
    .book-post figure.highlight pre .string,
    .book-post figure.highlight pre .value,
    .book-post figure.highlight pre .inheritance,
    .book-post figure.highlight pre .header,
    .book-post figure.highlight pre .ruby .symbol,
    .book-post figure.highlight pre .xml .cdata,
    .book-post figure.highlight pre .special,
    .book-post figure.highlight pre .number,
    .book-post figure.highlight pre .formula {
      color: #83c951; }
    .book-post figure.highlight pre .keyword,
    .book-post figure.highlight pre .title,
    .book-post figure.highlight pre .css .hexcolor {
      color: #9675c2; }
    .book-post figure.highlight pre .function,
    .book-post figure.highlight pre .python .decorator,
    .book-post figure.highlight pre .python .title,
    .book-post figure.highlight pre .ruby .function .title,
    .book-post figure.highlight pre .ruby .title .keyword,
    .book-post figure.highlight pre .perl .sub,
    .book-post figure.highlight pre .javascript .title,
    .book-post figure.highlight pre .coffeescript .title {
      color: #6181b6; }
    .book-post figure.highlight pre .tag .attr,
    .book-post figure.highlight pre .javascript .function {
      color: #c678dd; }

.book-toc {
  position: fixed;
  font-size: 0.75rem; }
  .book-toc .book-tocbot {
    max-height: 450px;
    max-width: 250px;
    overflow: auto;
    position: relative;
    padding-right: 0.875rem; }
    .book-toc .book-tocbot ul {
      list-style: none;
      position: inherit;
      overflow: hidden; }
      .book-toc .book-tocbot ul li {
        margin-left: 0.25rem; }
  .book-toc .toc-link::before {
    background-color: white !important; }
  .book-toc .is-active-link::before {
    background-color: #004ed0 !important; }
  .book-toc .book-tocbot-menu {
    margin: 1rem 0.75rem;
    font-size: 0.75rem; }
    .book-toc .book-tocbot-menu a {
      display: block;
      margin: 0.375rem 0;
      color: #999;
      cursor: pointer; }
    .book-toc .book-tocbot-menu a:hover {
      color: gray; }

.right {
  text-align: right; }

.left {
  text-align: left; }

.pager {
  text-align: center;
  margin: 2rem; }
  .pager a, .pager span {
    color: #004ed0;
    padding: 0.25rem 0.375rem;
    margin: 0 2px; }
  .pager a:hover {
    color: #6d6d6d; }
  .pager .current {
    color: white;
    background-color: #004ed0;
    font-weight: bold; }
